<div class="controls">
  <button (click)="addItem()">Add item</button>
  <button (click)="removeItem()">Remove item</button>
</div>

<div class="row">
  <div class="column">
    Native:
    <simple-custom-table [columns]="columns" [data]="data"></simple-custom-table>
  </div>

  <div class="column">
    With directive:
    <simple-custom-table [data]="data" hybrid-table>
      <ng-container hybridColumnDef="position">
        <th *hybridHeaderCellDef>#</th>
        <td *hybridCellDef="let item">{{item.position}}</td>
      </ng-container>
      <ng-container hybridColumnDef="name">
        <th *hybridHeaderCellDef>
          <p style="color: lime">
            Name
          </p>
        </th>
        <td *hybridCellDef="let item">{{item.name}}</td>
      </ng-container>
      <ng-container hybridColumnDef="weight">
        <th *hybridHeaderCellDef>Weight</th>
        <td *hybridCellDef="let item">
          {{ (+item.weight).toFixed(2) }}
        </td>
      </ng-container>
      <ng-container hybridColumnDef="symbol">
        <th *hybridHeaderCellDef>Symbol</th>
        <td *hybridCellDef="let item">{{item.symbol}}</td>
      </ng-container>
    </simple-custom-table>
  </div>
</div>
