<div class="controls">
  <button (click)="changeRowsNumber('add')">Add item</button>
  <button (click)="changeRowsNumber('remove')">Remove item</button>
</div>

<div class="controls">
  <button (click)="changeColumnsNumber('add')">Add column</button>
  <button (click)="changeColumnsNumber('remove')">Remove column</button>
</div>

<div>
  Items visible: {{ visibleRows }} / {{ maxRowsLength }}
</div>
<div>
  Columns visible: {{ visibleColumns }} / {{ maxColumnsLenght }}
</div>

<br>

<div class="row">
  <div class="column">
    Native:
    <simple-custom-table [columns]="columns" [data]="data"></simple-custom-table>
  </div>

  <div class="column">
    With directive:
    <simple-custom-table [data]="data" hybrid-table>
      <ng-container *ngIf="visibleColumns > 0" hybridColumnDef="position">
        <th *hybridHeaderCellDef>#</th>
        <td *hybridCellDef="let item">{{item.position}}</td>
      </ng-container>
      <ng-container *ngIf="visibleColumns > 1" hybridColumnDef="name">
        <th *hybridHeaderCellDef>
          <p style="color: lime">
            Name
          </p>
        </th>
        <td *hybridCellDef="let item">{{item.name}}</td>
      </ng-container>
      <ng-container *ngIf="visibleColumns > 2" hybridColumnDef="weight">
        <th *hybridHeaderCellDef>Weight</th>
        <td *hybridCellDef="let item">
          {{ (+item.weight).toFixed(2) }}
        </td>
      </ng-container>
      <ng-container *ngIf="visibleColumns > 3" hybridColumnDef="symbol">
        <th *hybridHeaderCellDef>Symbol</th>
        <td *hybridCellDef="let item">{{item.symbol}}</td>
      </ng-container>
    </simple-custom-table>
  </div>
</div>
